html{
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    max-width: 100%;
    overflow-x: hidden;
    background-image: url('weather.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.text-title{
    color: transparent;
    font-size: 6rem;
    margin-top: 3rem;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive;
    -webkit-text-stroke: 3px #000;
    }
input{
    width: 80%;
}
.card-main{
    margin: auto;
    font-size: 1.75rem;
    text-transform: capitalize;
    height: 50rem;
    width: 50rem;
    margin-top: 5rem;
    color: #000;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: #00000011;
    box-shadow:inset -10px -10px 15px rgba(0, 0, 0, 0.5), 
    inset 10px 10px 15px rgba(0, 0, 0, 0.12);
}

img{
    height: 12.5rem;
}

.card-title{
    padding: 0.75rem;
    font-size: 3rem;
}
.city-name{
    margin-bottom: 4rem;
}
.btn{
    height: 3.6rem;
    width: 18%;
    margin-top: -0.4rem;
    font-size: 1.3rem;
}

.col-6 .fw-bold{
    line-height: 3rem;
    text-transform: none;
}


